.page_header {

	width: 100%;
	height: 1em;
	margin: 1em 0;
	text-align: center;
}

.currency_content_container {

	height: calc(100vh - 5em);

	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
}